Source: bionet2
Priority: extra
Maintainer: Sebastian Kuzminsky <seb@highlab.com>
Build-Depends: autoconf, debhelper (>= 6), libavahi-compat-libdnssd-dev, libglib2.0-dev, doxygen, libssl-dev, swig, libqt4-dev, libqwt5-qt4-dev, python-dev, xsltproc, libbluetooth-dev, libsqlite3-dev, check
Standards-Version: 3.7.3
Section: libs
Homepage: http://bioserve.colorado.edu/bionet

Package: bionet2
Section: unknown
Architecture: any
Depends: ${shlibs:Depends}
Description: Bionet2
 Bionet2 HABs, Clients, and shared libraries, and BDM

Package: bionet2-dev
Section: unknown
Architecture: any
Depends: ${shlibs:Depends}
Description: Bionet2
 Bionet2 headers and static libraries
