Source: bionet2
Priority: extra
Maintainer: Sebastian Kuzminsky <seb@highlab.com>
Build-Depends: debhelper (>= 6), libavahi-compat-libdnssd-dev, libglib2.0-dev, doxygen
Standards-Version: 3.7.3
Section: libs
Homepage: http://bioserve.colorado.edu/bionet

Package: bionet2
Section: unknown
Architecture: any
Depends: ${shlibs:Depends}
Description: Bionet2
 All Bionet2 stuff in one big lump.
